{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="about">
        <h1>Hello, I’m Tong.</h1>
        <div class="about-image">
            {% load static %}
            <img src="{% static "imgs/profile_photo.jpg" %}" width="220px" />
        </div>
        <p>
            I live in London, am 26, and I look Chinese but I have a very posh British accent. It sometimes confuses people, especially old
            people who are slightly racist, and Americans.
        </p><p>
            I’m a software engineer by trade. I studied maths at uni because I wanted to be a maths
            professor (for real), until I realised about a year into my degree that I didn’t really fancy
            another 20 years banging of my head against brain-torturingly hard and abstract problems.
            So, naturally, I became an engineer. Not even a proper one, just a code one. I mostly do web dev
            stuff in Python and JS. You can head over to the <a href="/contact/">Contacts</a> page to check out my linkedin if
            you’re interested in more work details.
        </p><p>
            Aside from coding, my interests are mostly my cat. Only half joking. I’m also interested in
            feminism and diversity in the tech industry, both of which will probably feature heavily in my blog
            posts (if you’re rolling your eyes about that, then 1. We probably won’t be friends and 2.
            At least it’s not my cat). I also love food, both cooking it and eating it. It would be too hard
            for me to pick a favourite food, but let’s just say that if I could eat padron peppers and
            baklava for every meal then all my teeth would fall out very quickly but I’d still be pretty
            happy. I’m also a big whisky fan, and make a mean old fashioned.
        </p><p>
            Finally, I have a bit of an obsession with escape rooms. They are just the best thing.
            If you’ve never played one, the premise is that you are locked in a room for some highly
            unlikely reason and you have to solve puzzles to break out. It’s like a real life video game,
            or Sudoku on steroids. I’ve done over a dozen of them, and it’s always great fun, although
            the greatest was one in Budapest which had a real life laser room like in James Bond. I felt
            like a typecast Asian gymnast villain. Anyway, whether you’re an escape noob or want some more
            discerning suggestions, feel free to get in touch – I’m always happy to share tips/gush about my
            favourite rooms!
        </p>
    </div>
</div>
{% endblock %}
