{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="about">
        <h1>Hello, I’m Tong.</h1>
        <div class="about-image">
            {% load static %}
            <img src="{% static "imgs/me_with_whisky.jpg" %}" width="220px" />
        </div>
        <p>
            I'm a 26 year old living in London, of Chinese heritage but Surrey schooling,
            which has left me with a very posh British accent that sometimes confuses people -
            especially old people who are slightly racist, and Americans.
        </p><p>
            I’m a software engineer by trade. I studied maths at uni because I wanted to be a maths
            professor (for reals), until I realised about a year into my degree that I didn’t really fancy
            another 20 years banging of my head against brain-torturingly hard and abstract problems.
            So, naturally, I became an engineer. Not even a proper one, just a code one. I mostly do web dev
            stuff in Python and JS. You can check out my
            <a href="https://www.linkedin.com/in/tong-qiu-00b4493b/">LinkedIn</a> for more work details.
        </p><p>
            Aside from coding, my interests are mostly my cat. Only half joking. I’m also interested in
            feminism and diversity in the tech industry, both of which will probably feature heavily in my blog
            posts (if you’re rolling your eyes about that, then 1. We probably won’t be friends and 2.
            Hey, at least it’s not my cat). I also love food, both cooking it and eating it. I'd be hard pressed to pick
            a favourite food, but let’s just say that if I could eat padron peppers and baklava for every
            meal then all my teeth would fall out very quickly but I’d still be pretty happy.
            I’m also a big whisky fan, and make a mean old fashioned.
        </p><p>
            I hope you enjoy reading my blog. Please do <a href="/contact/">get in touch</a> if you have any comments or questions,
            need a web developer, or want whisky and/or cat tips.
        </p>
    </div>
</div>
{% endblock %}
