<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}" />
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/base.js' %}"></script>
    <title>Tong Qiu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <button id="menuButton" class="menu-button">
        Menu
    </button>
    <div id="menu" class="menu hidden">
    </div>
    <div class="content">
    <div>
  </body>
</html>
