<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/chevron.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog_feed.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog_post.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/homepage.css' %}" />
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/base.js' %}"></script>
    <title>Tong Qiu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="base-page">
      <div id="menuButton" class="menu-button">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>
      <div id="menu" class="menu hidden">
        <ul>
          {% for menu_item in menu %}
            <a href="{{menu_item.link}}"><li>{{menu_item.name}}</li></a>
          {% endfor %}
        </ul>
      </div>
      <div class="content">
          {% block content %}{% endblock %}
      </div>
  </body>
</html>
