{% extends "base.html" %}

{% block content %}
<div class="blogpost">
    <h1>{{title}}</h1>
    <p class="blogpost-date">{{publish_date}}</p>
    <div class="blogpost-content">
      {{content|safe}}
    </div>
    <div class="blogpost-nav">
        {% if previous_post_link and previous_post_title %}
            <div class= "blogpost-nav-item">
                <a href="{{previous_post_link}}">
                    <span class="chevron left"></span><span class="blogpost-nav-item-description">{{previous_post_title}}</span>
                </a>
            </div>
        {% endif %}
        <div class= "blogpost-nav-item">
            <a href="/blog/">Back to all posts</a>
        </div>
        {% if next_post_link and next_post_title %}
            <div class= "blogpost-nav-item">
                <a href="{{next_post_link}}">
                    <span class="blogpost-nav-item-description">{{next_post_title}}</span><span class="chevron right"></span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
