.blogpost {
    max-width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.blogpost-date {
    font-size: 18px;
}

.blogpost-content {
    font-size: 16px;
    margin-top: 40px;
    padding-top: 15px;
    border-top: solid 1px;
    line-height: 20px;
}

.blogpost-footer {
    font-size: 14px;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 3px;
}
