.blogpost {
    max-width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.blogpost-date {
    font-size: 18px;
}

.blogpost-content {
    font-size: 16px;
    margin-top: 40px;
    padding-top: 15px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-bottom: 15px;
}

.blogpost-footer {
    font-size: 14px;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 3px;
}

.blogpost-nav {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.blogpost-nav a {
    border-bottom: none;
}

.blogpost-nav-item {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
}

.blogpost-nav-item:first-child {
    margin-left: 0;
}

.blogpost-nav-item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 375px) {
    .blogpost-nav-item-description {
        display: none;
    }
}
